In [8]:
x = 5
y = 10
z = x / y

z = 1.25

if z > 1:
  print("z is greater than 1!")
elif z > 0:
  print("z is positive")
else:
  print("z is less or equal to 0!")

z is greater than 1!

In [14]:
m = "Kill Cato!"
print(m)

print(m[0])
if m[1] == "i":
  print("e")
print(m[2])
print(m[3])
print(m[4])
print(m[5])

Kill Cato!
K
e
l
l

C

In [16]:
for x in "hello":
  print("the character at this position is", x)

the character at this position is h
the character at this position is e
the character at this position is l
the character at this position is l
the character at this position is o

In [18]:
for x in m:
  if x == "i":
    print("e")
  else:
    print(x)

K
e
l
l

C
a
t
o
!

In [25]:
for x in m:
  #print(x, type(x))
  print(x, type(x), ord(x), type(ord(x)))

K <class 'str'> 75 <class 'int'>
i <class 'str'> 105 <class 'int'>
l <class 'str'> 108 <class 'int'>
l <class 'str'> 108 <class 'int'>
  <class 'str'> 32 <class 'int'>
C <class 'str'> 67 <class 'int'>
a <class 'str'> 97 <class 'int'>
t <class 'str'> 116 <class 'int'>
o <class 'str'> 111 <class 'int'>
! <class 'str'> 33 <class 'int'>

In [27]:
print(ord("a"))
print(chr(97))

97
a

In [43]:
k = 20

for x in m:
  if x == " ":
    print(x)
  else:
    ix = ord(x)
    shift_ix = ix + k

    if (97 <= shift_ix) and (shift_ix <= 122) :
      print("hello")

    shift_x = chr(shift_ix)
    print(shift_x)
# for x in m:
#   print(chr(ord(x) + 4))

_
}



W
hello
u


5

In [40]:
start = ord("a")
end = ord("z")
print(start)
print(end)
print(end - start + 1)

print(ord("c") <= 122)

97
122
26
True

In [53]:
message = "helloworld"
midpoint = (97 + 122) // 2
for x in message:
  # if ord(x) >= midpoint:
  #   print(x)
  # else:
  #   print("uhhh")

  shifted = ord(x) + 20

  if not (97 <= shifted <= 122):
    fixed_char = shifted - 26
    print(chr(fixed_char), chr(shifted))

  # if ord(x) < 97 or ord(x) > 122:
  #   print("PROBLEM with ", x)
  # else:
  #   print(x)
#
  # if not (97 <= ord(x) <= 122):
  #   print("PROBLEM with ", x)
  # else:
  #   print(x)

b |
f 
f 
i 
q 
i 
l 
f 

In [65]:
def encrypt(message, shift):
  result = ""

  start = 97
  end = 122
  range = end - start + 1

  for character in message:
    shifted = ord(character) + shift

    if start <= shifted <= end:
      pass  # does nothing
    else:
      shifted = shifted - range

    result = result + chr(shifted)

  return result

In [67]:
def decrypt(message, shift):
  result = ""

  start = 97
  end = 122
  range = end - start + 1

  for character in message:
    shifted = ord(character) - shift

    if start <= shifted <= end:
      pass  # do nothing
    else:
      shifted = shifted + range

    result = result + chr(shifted)

  return result

In [69]:
message = "killcato"

encrypted = encrypt(message, 20)
print(message)
print(encrypted)

decrypted = decrypt(encrypted, 20)
print(decrypted)

killcato
ecffwuni
killcato